{% extends "base.html" %}
{% block title %}PetFax - Pet Facts!{% endblock %}
{% block content %}
<h1>Welcome to PetFax</h1>
<div>
    <a href="/facts/new"><button>Add a Fact</button></a>
</div> 
{% for pet in pets %}
    <a href="/pets/{{loop.index0}}">
        <div class="card">
                <h2>{{pet.pet_name}}</h2>
                <div class="img-container">
                    <img src="{{pet.pet_photo}}" alt="Photo of Pet"/>
                </div>
        </div>
    </a>
{% endfor %}
{% endblock %}